<body>
    <div class="container">
        <header>
            <h1>Notes</h1>
            <form class="new-note">
                {{> quill name="foo"}}
            </form>
        </header>
    </div>
</body>

